*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.main{
	height: 600px;
	width: 100%;
}
/*header part*/
.main .header{
	height: 70px;
	width: 100%;
	background: black;
}
.header .logo{
	float: left;
	height: 50px;
	width: 90px;
	font-size: 40px;
	color: white;
	margin-top: 10px;
	margin-left: 60px;
}
.menu{
	height: 80px;
	width: 100%;
	background: rgb(21, 16, 16);
	color: white;
	font-size: 22px;
	margin-left: 0px;
	text-decoration: none;
}
.menu ul{
	display: inline-flex;
	list-style: none;
	color: white;
	float: right;
	font-size: 18px;
}
.menu ul li{
	width: 95px;
	margin: 10px;
	padding: 9px;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: orange;
}
.menu .submenu{
	display: none;
}
.menu ul li:hover .submenu{
	display: block;
	position: absolute;
	background: rgb(21, 16, 16);
	margin-top: 15px;
	margin-left: -15px;
}
.menu select{
	background: black;
	border: 0;
	color: white;
}
.submenu select:hover{
	color: yellow;
}
.menu ul li .submenu select{
	display: block;
	background: black;
	color: black;
}
.menu ul li .submenu ul{
	display: block;
}
.menu ul li .submenu ul li{
	width: 140px;
	height: 10px;
	border-bottom: 1px #fff;
	border-radius: 0;
	text-align: left;
}
.menu ul li .submenu ul li a:hover{
	color: orange;
}
.login select{
	color: orange;
}
.menu ul li button{
	height: 40px;
	width: 100px;
	color: red;
	background: black;
	border: 2px solid white;
	font-size: 15px;
	margin-right: 20px;
}
.menu ul li button a:hover{
	background: orange;
	color: black;
}


/*middle part*/
.main .middle{
	height: 570px;
	width: 100%;
	background: #DFEFF6;
}
.right{
	height: 500px;
	width: 30%;
	background: white;
	float: left;
	margin-top: 40px;
	margin-left: 20%;
	padding-left: 1px;
}
.right span b{
	font-size: 40px;
	margin-left: 45px;
}
.right img{
	height: 260px;
	width: 100%;
	margin-top: 100px;
}
.left{
	height: 500px;
	width: 30%;
	background: white;
	float: right;
	margin-right: 20%;
	margin-top: -500px;
}
.left .log_sign{
	height: 450px;
	width: 90%;
	margin-top: 30px;
	margin-left: 10px;
}
.left .log_sign .log_in{
	height: 60px;
	width: 190px;
	background: black;
	border-radius: 7px;
	color: white;
	font-size: 20px;
}
.left .log_sign .log_in span{
	margin-left: 55px;
}
.left .log_sign .sign_in{
	height: 60px;
	width: 190px;
	background: #DFEFF6;
	border-radius: 7px;
	margin-left: 190px;
	margin-top: -60px;
	font-size: 20px;
}
.left .log_sign .sign_in span{
	margin-left: 55px;
}
.left .log_sign .form{
	margin-top: 40px;
	height: 350px;
	width: 90%;
	margin-left: 10px;
}
.left .log_sign .form label{
	padding-top: 10px;
}
.left .log_sign .form .box{
	height: 30px;
	width: 100%;
	margin-top: 10px;
}
.left .log_sign .form .submit_box{
	height: 50px;
	width: 70%;
	margin-left: 50px;
	background: white;
	border-radius: 4px;
	border: 1px solid #000000;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.left .log_sign .form h5{
	color: #6C6262;
	font-weight: 8px;
	margin-top: -18px;
	margin-left: 15px;
}
.left .log_sign .form p{
	color: #6C6262;
	margin-top: 20px;
	margin-left: 80px;
	font-size: 15px;

}
/*footer part*/
.main .footer{
	height: 45px;
	width: 100%;
	background: #DFEFF6;
}
.main .footer span{
	margin-left: 500px;
}
.main .footer span a{
	text-decoration: none;
	color: blue;
}